body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    background:#e6eecc url(../images/beige_paper.png) repeat;
    color: #5e5e5e;
    font: 14px/2em Microsoft YaHei,SimSun,Arial;
	padding-top:50px !important;
}
fieldset, img { border: 0 none;}
:focus { outline: 0 none;}
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
code, kbd, samp, tt { font-size: 100%; }
input, button, textarea, select { border: medium none; }
ol, ul { list-style: outside none none; }
table {  border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }
:link, *:visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
a:link, a:visited { color: #5e5e5e; }
a:hover { color: #c9394a; }
a:active { color: #666; }
a:focus { outline: medium none; }
a.hidefocus { outline: medium none; }
button.hidefocus::-moz-focus-inner { border: medium none; }
input, textarea { outline: medium none; }

.white{color:#fff;}
.bg_white{ background-color:#fff;}
.bg_grey{ background-color:#fefefe;}
.color-gray, a.color-gray:link, a.color-gray:visited { color: #b7bcc0; }
.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.l { float: left; }
.r { float: right; }
.clear { clear: both; height: 0; overflow: hidden; }
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.hide { display: none; }
.btn.hide { display: none; }
.img_border { border: 4px solid #fff; border-radius: 1px; }
.bb {
    border-bottom: 1px solid #d2d2d2;
}
.bt {
    border-top: 1px solid #d2d2d2;
}



.p8{ padding:8px;}
.p10{ padding:10px;}

.p15 { padding: 0 15px;}

.pt15 { padding-top: 15px; }
.pt50 { padding-top:50px; }

.pb15 { padding-bottom: 15px;}
.pb50 { padding-bottom:50px;}

.pl10 { padding-left:10px;}
.pl20 { padding-left:20px;}

.pr10 { padding-right:10px;}
.pr20 { padding-right:20px;}

.mt10{ margin-top:10px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mt150{margin-top:150px;}
.mt250{margin-top:250px;}

.mb5{margin-bottom:5px;}
.mb20{margin-bottom:20px;}
.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}









