/*头部*/
@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg#icomoon") format("svg");
}
[class^="icon-"], [class*=" icon-"] {
    font-family: "icomoon" !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
.icon-search:before {
    content: "\e900";
}






/*首页头部*/
.toprit-bar{ margin-top:8px !important; margin-bottom:0 !important; margin-right:20px; }
.welcome{line-height:32px;  margin-top:0px !important; margin-left:20px; margin-right:20px;}
#ID{ color:#fff;}
#ID:hover{ text-decoration:none;}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border:none !important;
}
.navbar-form {
    box-shadow:none !important;}
/*底部*/
.feature-divider{ margin-bottom:20px; border-color:#999 !important;}
.copyRight{width:90px; padding-left:10px; text-align:left; height:50px; line-height:50px; display:inline-block; background:url(../images/right_bg.png) no-repeat; background-size:100% 100%; font-weight:bold; color:#fff;}
.backTop{ margin-top:-10px;width:100px; text-align:right; height:60px; line-height:75px; display:inline-block; background:url(../images/backtop_bg.png) no-repeat; background-size:100% 100%; font-weight:bold; color:#333 !important;}
* {
	font-family: 微软雅黑;
}

.search_form_div_label {
	width: 100px;
}

.search_panel_footer {
	padding: 5px 15px;
}

.table_panel {
	margin: 0px;
	padding: 0px;
}

.table_pabel_header {
	padding: 5px 15px;
}

.table_pabel_header_row {
	line-height: 30px;
}

.footer_pages_button {
	margin-top: 20px;
}

.login_main {
	background-image: url('../images/3LLP70BSFZJ4_1920x1080.jpg');
	margin: 0 0;
	padding: 0px;
}

.login_title {
	padding: 0 0;
	top: 170px;
	color: white;
	font-size: 25px;
}

.login_panel {
	padding: 0 0;
	top: 200px;
	-webkit-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
	-moz-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
	box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
}

.login_footer {
	color: #999;
	font-size: 12px;
}

.index_title {
	padding: 0px 3px 0px 0px;
}

.index_nav_li {
	border-width: 0px 0px 0px 1px;
	border-left-color: orange;
}

/* 验证的错误信息提示 */
.validate_message {
	color: red;
}

.menu_div_head {
	margin: 0px;
	border-bottom-color: orange;
}

.menu_div_foot {
	margin: 0px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	border-top-color: orange;
}


dl, dt, dd {
	display: block;
	margin: 0;
}

.leftsidebar_box {
	width: 200px;
	height: 100% !important;
	background-color: #484860;
	position: fixed;
	height: 100% !important;
}

.leftsidebar_box dt {
	padding-left: 40px;
	padding-right: 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #f5f5f5;
	position: relative;
	line-height: 48px;
	cursor: pointer;
}

.leftsidebar_box dd {
	background-color: #373749;
	padding-left: 40px;
}

.leftsidebar_box dd a {
	line-height: 20px;
	text-decoration: none;
}

.leftsidebar_box dd a:HOVER {
	font-weight: bold;
	color: rgb(249, 169, 92);
}

.leftsidebar_box dd a:FOCUS {
	color: rgb(249, 169, 92);
}

.leftsidebar_box dl dd:last-child {
	padding-bottom: 10px;
}

.padding_zero {
	padding: 0;
}

.main_menu {
	font-size: 18px;
}

.sub_menu {
	color: white;
	font-size: 16px;
}

.sub_menu_on {
	color: rgb(249, 169, 92);
}